.csv-button{
    background-color: #1C67CE !important;
     border-radius: 0.4rem  ;
     color: #ffffff  ;
     font-size: 15px;
     line-height: 32px;
     
     font-weight: 500;
     border: transparent ;
 }